body {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
color:#434455;
background-color: #FFFFFF;
}

ul, div, li, p, h1, h2, h3, h4, h5, h6, img, a {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	border: none;
}

ul, ol, a {
	list-style-type: none;
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
}

/* ---------------------------------------------------------------------- */

/* ----------------------BODY------------------------- */


/* ----------------------Header------------------------- */

.header {
	background: white;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.container {
	max-width: 1158px;
	padding: 0 15px;   
	margin: 0 auto; 
	display: flex;
}

.header-container {

}

.header-navigation {
	display: flex;
	margin-right: 332px;
	align-items: center;

}
.web-link {
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}

.web-span {
	color:#2E2F42;
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.header-list {
	display: flex;
	gap: 40px;
	margin: 0;
	max-width: 261px;

}

.header-item {
	/* padding: 24px 0; */

}
.header-item-link {
	color:#2E2F42;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.50;
	letter-spacing: 0.02em;
	padding: 24px 0

}

.header-item-link:hover,
.header-item-link:focus {
color:#404BBF;
font-size: 16px;
font-weight: 500;
line-height: 1.50; /* 150% */
letter-spacing: 0.02em;
}

.address {
font-style: normal;
}

.address-list {
	display: flex;
	gap: 40px;
	margin: 0;
}
.address-item {
	padding: 24px 0;
}

.mod-mail {
	min-width: 153px;
}

.mod-tel {
	min-width: 151px;
}

.address-item-link {
	color:#434455;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.50;
	letter-spacing: 0.02em;
}

.address-item-link:hover,
.address-item-link:focus {
	color:#404BBF;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
}

/* ---------------------------------------------------------------------- */

/* ----------------------Main------------------------- */

/* ------------------------<section class="hero">----------- */

section {
	padding: 120px 0;
}

.hero {
	background-color: #2E2F42;
}

.hero-mod {
	padding-top: 188px;
	padding-bottom: 188px;
}

.hero-container {
display: block;
margin: 0 auto;
text-align: center;
align-self: center;
vertical-align: middle;
}

.hero-title {
	color: white;
	margin: 0 auto;
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	max-width: 496px;
	margin-bottom: 48px;

}

.hero-btn {
display: block;
min-width: 169px;
margin: 0 auto;
height: 56px;
border: none; 
color: white;
font-size: 16px;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.04em;
background-color: #4D5AE5;
padding: 16px 32px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
cursor: pointer;

}


.hero-btn:hover,
.hero-btn:focus {
color: white;
font-size: 16px;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.04em;
background:#404BBF;
}

/* ------------------------<section class="hero">----------- */

/* ---------------START --------<section class="priorities">----------- */

.priorities {
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
 }

.priorities-list {
	display: flex;
	gap: 24px;
	margin: 0;
}
.priorities-item {
}
.priorities-titles {
	color:#2E2F42;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.20;
	letter-spacing: 0.02em;
	background-color: #FFFFFF;
	margin: 0;
	margin-bottom: 8px;
}

.priorities-text {
color:#434455;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
min-width: 264px;
}

/* --------------END-------<section class="priorities">----------- */

/* ---------------START --------<section class="team">----------- */

.team {
	background-color: #F4F4FD;
}

.team-container {
	display: block;

}

.our {
	display: block;
	color: #2E2F42;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin: 0 auto;
	margin-bottom: 72px;
	}

.team-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}
.team-items {
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;

}

.team-img {
}

.team-block {
	padding: 32px 0;
}

.modifier {
	text-align: center;
	margin-bottom: 8px
}

.team-text {
color:#434455;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.50;
letter-spacing: 0.02em;
background-color: #FFFFFF;
}

/* ---------------END------------<section class="team">----------- */

.portfolio {
}
.portfolio-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap:48px 24px
}



.portfolio-items {
	min-width: calc((100% - 48px) / 3);

}


.portfolio-img {

}

.portfolio-border {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;

}

.modifier-portfolio {
	text-align: left;
}



/* ---------------------------------------------------------- */

/* ----------------------Footer------------------------- */

.footer {
	background-color: #2E2F42;
	padding: 100px 0;
}

.footer-container{
	display: block;
}

.footer-link {
	display: inline-block;
	margin: 0;

}

.footer-span {

}


.footer .web-span {
	color:#f4f4fd;
}


.footer-text {
margin-top: 17.5px;
color:#F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.50;
letter-spacing: 0.02em;
max-width: 264px;
}
